Tests: build
Depends: libassuan-dev, build-essential, pkg-config

Test-Command: debian/tests/build-windows i686
Features: test-name=win32
Depends: libassuan-mingw-w64-dev, gcc-mingw-w64-i686, build-essential, wine32, pkg-config
Restrictions: skip-not-installable

Test-Command: debian/tests/build-windows x86_64
Features: test-name=win64
Depends: libassuan-mingw-w64-dev, gcc-mingw-w64-x86-64, build-essential, wine64, pkg-config
Restrictions: skip-not-installable
